@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --blanco: rgba(250,250,250, 0.9);
    --negro: dimgrey;
    --rosa: #E54266;
    --rojo: #B3344F;
    --opacity: 1;
}
.dark_theme{
    --blanco: rgba(0,0,0, 0.9);
    --blancoalpha: rgba(0,0,0, 0.5);
    --negro: white;
    --rosa: #E54266;
    --rojo: #E54266;
    --opacity: .75;
}
#darkmode{
    display: block;
    padding: 2rem;
    cursor: pointer;
    color: var(--blanco)
}
#darkmode:hover{
    background-color: var(--blanco);
    color: var(--blanco);
}
html{
    font-size: 62.5%;
    width: 100vw;
}
body{
    font-size: 1.3rem;
    font-family: 'Antonio', sans-serif;
    background-color: var(--blanco);
}
header{
    width: 100vw;
    height: 6.5rem;
    padding-right: 2rem;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    min-width: rem;
}
.top_nav{
    list-style-type: none;
    margin: 0;
    padding: 0 5rem;
    font-size: 2rem;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--blanco);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
li{
    float: left;
}
li a{
    display: block;
    padding: 2rem;
    text-decoration: none;
    color: var(--negro);
}
.Products{
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: left;
} 
@media only screen and (max-width: 768px) {
    .Products{
        grid-template-columns: auto auto; 
    }
}
.Product-item{
    display: flex;
    width: 25rem;
    height: 40rem;
    margin: 1.5rem 1.5rem 0 0;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4rem;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    background-color: var(--blancoalpha);
    color: var(--negro);
    opacity: 75%;
}
.Product-item:hover{
    background-color: rgb(229,66,102,0.1);
    color: var(--rojo);
    opacity: 100%;
}
.img_product{
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    object-fit:cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img_product:hover{
    opacity: 100%;
}
a{
    color: var(--negro);
    text-decoration: none;
}
.hero-title{
    text-align: center;
}
.hero-title a:hover{
    color: var(--blanco);
}
.text{
    font-weight: lighter;
    text-transform:capitalize;
}
.boton{
    opacity: var(--opacity);
    float: right;
}
.boton a{
	display: block;
	width: 20rem;
	height: 5rem;
    margin-top: 1rem;
	padding: 1rem;
	text-align: center;
	background-color: var(--negro);
	color: var(--blanco);
	text-transform: uppercase;
	font-size: 2rem;
	text-decoration: none;
    border-radius: 2rem; 
}
.boton a:hover {
	background-color: var(--rosa);
	color: var(--blanco);
	text-decoration: none;
}
.Product-inner{
    width: 75%;
    margin: auto;
    margin-top: 2rem;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    min-width: 50rem;
    max-width: 100rem;
}
.Product-card{
    display: flex;
    margin: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4rem;
    flex-direction: column;
    background-color: var(--blancoalpha);
    color: var(--negro);
    padding: 5rem;
    text-align: justify;
}
.img_singleproduct{
    border-radius: 20%;
    object-fit:cover;
    opacity: var(--opacity);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Product-info{
    margin: 3rem 0;
}
#footer{
    width: 100%;
    padding: 4rem;
    margin: auto;
    height: 200px;
    text-align: center;
    color: var(--negro);
}

.notion a{
    text-decoration: none;
    color: var(--negro);
}